@use "sass" as *;
@use "../base";


@mixin Photos(){
  padding: .2rem;
  @include RowLayout(.4rem);
}


@mixin Photos__Photo(){
  @include Transition();
  @include SquareShape(15rem);
  box-sizing: border-box;

  &:hover {
    transform: scale(1.05);
  }
}


@mixin Photos__Photo__Image(){
  border-radius: .25rem;
  @include Highlight_Box($color: black);
  @include FillWholeSpace();
  @include CoverBackgroundImage();
  @include CenterBackgroundImage();
}