{% load static %}

<header class="header">
<button class="header__side-nav-button">
  <img class="header__side-nav-button__icon" src="{% static 'photos/images/menu-icon.svg' %}" alt="">
</button>

<nav class="header__top-nav">
  {% block top_nav %}
    <a class="header__top-nav__option" href="">
      <div class="header__top-nav__option__name">Galeria Zdjęć</div>
      <div class="header__top-nav__option__underline"></div>
    </a>

    <a class="header__top-nav__option" href="">
      <div class="header__top-nav__option__name">Albumy</div>
      <div class="header__top-nav__option__underline"></div>
    </a>

    <a class="header__top-nav__option" href="">
      <div class="header__top-nav__option__name">Dodaj Zdjęcia</div>
      <div class="header__top-nav__option__underline"></div>
    </a>
  {% endblock top_nav %}
</nav>
</header>