@use "sass" as *;


:root {
  --main-clr-dark: hsl(353, 59%, 40%);
  --main-clr: hsl(353, 59%, 60%);
  --main-clr-light: hsl(353, 59%, 70%);

  --bg-clr: white;
  --font-clr: black;
}

$main-clr-dark: var(--main-clr-dark);
$main-clr: var(--main-clr);
$main-clr-light: var(--main-clr-light);

$bg-clr: var(--bg-clr);
$font-clr : var(--font-clr);


$top-nav-height: 3.5rem;
$side-nav-width: 15rem;


body {
  font-family: Arial, Helvetica, sans-serif;
  color: $font-clr ;

  @include GridLayout();

  grid-template-areas:
  "header header"
  "side-nav content";
  grid-template-columns: $side-nav-width calc(100% - $side-nav-width);
  grid-template-rows: $top-nav-height calc(100% - $top-nav-height);

  & > .header {
    grid-area: header;
  }

  & > .side-nav {
    grid-area: side-nav;
  }

  & > content {
    grid-area: content;
  }
}