@use "sass" as *;


:root {
  --main-clr: #4909c2;
  --main-clr-dark: #330688;

  --bg-clr: white;
  --font-clr: white;
}

$main-clr: var(--main-clr);
$main-clr-dark: var(--main-clr-dark);
$bg-clr: var(--bg-clr);
$font-clr : var(--font-clr);


body {
  font-family: Arial, Helvetica, sans-serif;
  color: $font-clr ;

  @include GridLayout();
  
  $top-nav-height: 3rem;
  $side-nav-width: 15rem;

  grid-template-areas:
  "header header"
  "side-nav content";
  grid-template-columns: $side-nav-width calc(100% - $side-nav-width);
  grid-template-rows: $top-nav-height calc(100% - $top-nav-height);

  & > .header {
    grid-area: header;
  }

  & > .side-nav {
    grid-area: side-nav;
  }

  & > content {
    grid-area: content;
  }
}