@use "sass" as *;


$upload-clr: rgb(36, 183, 36);
$display-clr: rgb(110, 110, 226);
$categories-clr: rgb(222, 111, 111);


.side-nav {
  &__options {
    @include FillWholeSpace();
    @include ColumnLayout();

    &__option {
      $underline-height: .2rem;
      height: 3rem;

      @include ColumnLayout();
      justify-content: space-between;

      &--upload {
        background: $upload-clr;
      }

      &--display {
        background: $display-clr;
      }

      &--categories {
        background: $categories-clr;
      }

      &__main {
        height: calc(100% - $underline-height);
        align-items: center;

        @include X_Padding(.5rem);
        @include GridLayout(1rem);
        $icon-width: 2rem;
        grid-template-areas: "icon name";
        grid-template-columns: $icon-width calc(100% - $icon-width);

        &__icon {
          grid-area: icon;
          justify-self: center;
          height: 80%;
          @include Transition();
        }
  
        &__name {
          grid-area: name;
          font-weight: bold;
          color: white;

          @include Move($y: $underline-height / 2);
          @include Transition();
        }
      }

      &:hover &__underline {
        width: 100%;
      }

      &:hover &__main__icon {
        @include Highlight();
      }

      &:hover &__main__name {
        @include Highlight_Text();
      }

      &__underline {
        width: 0;
        background: white;
        height: $underline-height;

        @include Transition();
      }
    }
  }
}