{% extends 'global/base.html' %}
{% load static %}


{% block base_static %}
<link rel="stylesheet" href="{% static 'photos/styles/base.css' %}">
<link rel="stylesheet" href="{% static 'photos/styles/side-nav.css' %}">
  {% block static %}
  {% endblock static %}
{% endblock base_static %}


{% block base_content %}
<header class="header">

</header>

{% include 'photos/components/side-nav.html' %}

<div class="content">
  {% block content %}
  {% endblock content %}
</div>
{% endblock base_content %}