{% extends 'photos/base.html' %}
{% load static %}


{% block static %}
<link rel="stylesheet" href="{% static 'photos/styles/display-all-photos.css' %}">
{% endblock static %}


{% block content %}
<main class="main">
<section class="photos">
  {% for photo in photos %}
  <a class="photos__photo" href="{% url 'photos:inspect_photo' photo.title %}">
    <img class="photos__photo__image" src="{{ photo.image.url }}" alt="{{ photo.title }}">
  </a>
  {% endfor %}
</section>
</main>


{% endblock content %}