:root {
  --main-clr: #4909c2;
  --main-clr-dark: #330688;
  --bg-clr: white;
  --font-clr: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-clr);
  display: grid;
  gap: 0;
  grid-template-areas: "header header" "side-nav content";
  grid-template-columns: 15rem calc(100% - 15rem);
  grid-template-rows: 3rem calc(100% - 3rem);
}
body > .header {
  grid-area: header;
}
body > .side-nav {
  grid-area: side-nav;
}
body > content {
  grid-area: content;
}
