:root {
  --main-clr-dark: hsl(353, 59%, 40%);
  --main-clr: hsl(353, 59%, 60%);
  --main-clr-light: hsl(353, 59%, 70%);
  --bg-clr: white;
  --font-clr: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-clr);
  display: grid;
  gap: 0;
  grid-template-areas: "header header" "side-nav content";
  grid-template-columns: 15rem calc(100% - 15rem);
  grid-template-rows: 3.5rem calc(100% - 3.5rem);
}
body > .header {
  grid-area: header;
}
body > .side-nav {
  grid-area: side-nav;
}
body > content {
  grid-area: content;
}

.main {
  width: 100%;
  height: 100%;
}

.photos {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
.photos__photo {
  transition: 300ms ease-in-out;
  width: 15rem;
  height: 15rem;
  box-sizing: border-box;
}
.photos__photo:hover {
  transform: scale(1.05);
}
.photos__photo--upload-photos {
  background: gray;
}
.photos__photo__image {
  border-radius: 0.25rem;
  box-shadow: 1px 1px 0.5rem black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  object-position: center;
  background-position: center;
}
.photos__photo__image--upload-photos {
  object-position: none;
  object-fit: none;
}
