:root {
  --main-clr-dark: hsl(353, 59%, 40%);
  --main-clr: hsl(353, 59%, 60%);
  --bg-clr: white;
  --font-clr: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-clr);
  display: grid;
  gap: 0;
  grid-template-areas: "header header" "side-nav content";
  grid-template-columns: 15rem calc(100% - 15rem);
  grid-template-rows: 3.5rem calc(100% - 3.5rem);
}
body > .header {
  grid-area: header;
}
body > .side-nav {
  grid-area: side-nav;
}
body > content {
  grid-area: content;
}

.header {
  background: var(--main-clr-dark);
  border-bottom: 0.2rem solid white;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  gap: 0;
  gap: 1rem;
  align-items: center;
}
.header__side-nav-button {
  width: 1.5rem;
  height: 1.5rem;
}
.header__logo {
  height: 100%;
}
.header__name {
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: underline;
  font-size: 2rem;
  color: white;
}
