:root {
  --main-clr-dark: hsl(353, 59%, 40%);
  --main-clr: hsl(353, 59%, 60%);
  --main-clr-light: hsl(353, 59%, 70%);
  --bg-clr: white;
  --font-clr: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-clr);
  display: grid;
  gap: 0;
  grid-template-areas: "header header" "side-nav content";
  grid-template-columns: 15rem calc(100% - 15rem);
  grid-template-rows: 3.5rem calc(100% - 3.5rem);
}
body > .header {
  grid-area: header;
}
body > .side-nav {
  grid-area: side-nav;
}
body > content {
  grid-area: content;
}

.side-nav {
  background: var(--main-clr);
  box-shadow: 1px 0.25rem 0.5rem black;
}
.side-nav__bottom {
  width: 100%;
}
.side-nav__options {
  background: var(--main-clr);
  display: flex;
  gap: 0;
  flex-direction: column;
}
.side-nav__options__option {
  height: 3rem;
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: space-between;
  transition: 500ms ease-in-out;
}
.side-nav__options__option:hover {
  background: var(--main-clr-light);
}
.side-nav__options__option:hover .side-nav__options__option__underline {
  width: 100%;
}
.side-nav__options__option__underline {
  width: 0;
  background: white;
  height: 0.2rem;
  transition: 500ms ease-in-out;
}
.side-nav__options__option__main {
  height: calc(100% - 0.2rem);
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: "icon name";
  grid-template-columns: 2rem calc(100% - 2rem);
}
.side-nav__options__option__main__icon {
  grid-area: icon;
  justify-self: center;
  height: 80%;
  transition: 300ms ease-in-out;
}
.side-nav__options__option__main__name {
  grid-area: name;
  font-weight: bold;
  color: white;
  position: relative;
  left: 0;
  bottom: 0.1rem;
  transition: 300ms ease-in-out;
}
